body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

body{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

h1 {
  font-size: 16px;
  font-weight: normal;
}

h1 .grey {
  color: #767676;
  display: inline;
}

.container {
  max-width: 960px;
  margin: 0 calc(10% + 60px);
}

header {
  margin: 40px 0;
}

#imagen img {
  float: left;
  height: 50px;
  width: 50px;
  margin: 15px;
  background-color: goldenrod;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

#usuarios {
  color: blue;
}

#usuarios-bio {
  color: gray;
}
span {
  display: flex;
  justify-content: flex-start;
}

span p {
  margin: 20px;
  font-weight: bold;
  font-size: 13px;
  color: grey;
  margin-left: 0%;
  text-transform: capitalize;
}

.tituloPost {
  font-weight: bolder;
  font-size: 40px;
  text-transform: capitalize;

}

hr {
  margin-left: 0%;
}

#create-h1{
  text-align: center;
  font-size: 25px;
}

#create-user {
  text-align: center;
}
.input {
  width: 20%;
}
